DB_USER=
DB_PASSWORD=
DB_HOST=astra_api_db
DB_PORT=27017
DB_NAME=astra

# LITELLM API KEYS
LITELLM_MASTER_KEY=sk-
LITELLM_SALT_KEY=sk-

# LLM CALL KEYS (LITELLM)
LLM_API_BASE=http://litellm:5000/v1
LLM_API_KEY=

# AI provider api key
AI_API_KEY= 

# User debug mode
USER_DEBUG=true