DB_USER=
DB_PASSWORD=
DB_HOST=astra_api_db
DB_PORT=27017
DB_NAME=astra

# LITELLM API KEYS
LITELLM_MASTER_KEY=sk-
LITELLM_SALT_KEY=sk-
LITELLM_API_KEY=

# Google AI studio key for testing
GOOGLE_TEST_API_KEY=